<launch>

  <arg name="display_output" default="true"/>
  <arg name="camera_topic" default="/camera/image_raw"/>

  <node name="retinaface_node" pkg="ros_ncnn" type="retinaface_node" output="screen">
    <param name="display_output" value="$(arg display_output)"/>
    <param name="probability_threshold" value="0.7"/>
    <remap from="/camera/image_raw" to="$(arg camera_topic)"/>
  </node>

</launch>
