<launch>

  <arg name="display_output" default="true"/>
  <arg name="camera_topic" default="/camera/image_raw"/>

  <node name="retinaface_node" pkg="ros_ncnn" type="retinaface_node" output="screen">
    <param name="display_output" value="$(arg display_output)"/>
    <remap from="/camera/image_raw" to="$(arg camera_topic)"/>
    <param name="gpu_device" value="0"/>
    <!-- <param name="gpu_device" value="0"/> -->
    <!-- <param name="num_threads" value="0"/> -->
  </node>

</launch>
